@model jk582215_MIS4200_2.Models.Pets

@{
    ViewBag.Title = "Delete";
}

<h2>Delete a Pet</h2>


<div class="alert alert-warning">
    <strong>Warning!</strong> This action is permanent. Are you sure you want to delete a pet?
</div>
<div>
    <h4>Pets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.petType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.petType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastVisit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastVisit)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
